<h1>Groups</h1>
<p><%= @group.name %> | <%= @course.name %></p>

<ul>
  <% @group.users.each do |student| %>
    <li>
      <b><%= RoleResource.where(user_id: 2, name: 'StudentId').select("res_value").pluck(:res_value)[0] %></b>
      <%= student.first_name.concat(" ", student.last_name) %>
      | <%= link_to('Delete', course_group_group_student_path(:group_id => params[:id], :course_id => params[:course_id], :id => student.id), method: :delete, data: {confirm: "Are you sure?"})%>
    </li>
  <% end %>
</ul>
<%= link_to('Add student', new_course_group_group_student_path(:group_id => params[:id], :course_id => params[:course_id]), method: :get) %>
<%= link_to('Change name', edit_course_group_path, method: :get) %>