<h1>Groups</h1>
<p><%= @group.name %> | <%= @course.name %></p>

<ul>
  <% @group.users.each do |student| %>
    <li>
      <%= student.firstName.concat(" ", student.lastName) %>
      | <%= link_to('Delete', course_group_deleteStudent_path(:group_id => params[:id], :course_id => params[:course_id], :id => student.id), method: :delete, data: {confirm: "Are you sure?"})%>
    </li>
  <% end %>
</ul>
<%= link_to('Add student', course_group_addStudent_path(:group_id => params[:id], :course_id => params[:course_id]), method: :get) %>
<%= link_to('Change name', edit_course_group_path, method: :get) %>