<h1>School Course</h1>

<% if user_signed_in? %>
  <% if current_user.role == 'teacher'%>
  <%= render 'layouts/course_table' %>
  <%= link_to('Add Course', new_course_path, method: :get) %>
  <% else %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% end %>
<% else %>
  <div>
    <p>Learn new things online here</p>
  </div>
  <div>
    <p>New User ?</p>
    <%= button_to "Sign up!", new_user_registration_path, method: :get %><br />
  </div>
  <div>
    <p>Sign in to "learn new things"</p>
    <%= button_to "Sign in", new_user_session_path, method: :get %><br />
  </div>
<% end %>